.viewbar {
    margin-top: 30px;
    margin-bottom: 50px;
    border-top: 1px solid rgba(206, 206, 206, 0.5);
    border-bottom: 1px solid rgba(206, 206, 206, 0.5);
    padding: 13px 0;
}

.view-icon {
    cursor: pointer;
}

.viewbar-icons > svg:first-of-type {
    margin-right: 10px;
}

.viewbar {
    display: flex;
    justify-content: space-between;
}

.viewbar-actions button {
    padding: 8px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #666666;
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 13px;
    user-select: none;
    border: none;
}

.viewbar-actions button:hover {
    background-color: #191919;
}

.icon-bold {
    font-weight: 700;
}
