.breadcrumb {
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.breadcrumb,
.breadcrumb > span {
    color: #414549;
}

.breadcrumb > span {
    cursor: pointer;
}

.breadcrumb > span:not(:first-child) {
    margin: 0 15px;
}

.breadcrumb > span:first-child {
    margin-right: 15px;
}

.breadcrumb > span.breadcrumb-active {
    color: rgb(190, 107, 0);
}
